h3 {
    color: red;
}

img {
    width: 2em;
    height: 2em;
}

li {
    list-style: none;
}

li.cities-list__city__city-properties__city-property {
    background: gray;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
}

li.cities-list__city {
    width: 40%;
}

.cities-list__city__city-properties {
    padding: 0;
}

.cities-list__city__city-properties__city-property span:first-child {
    font-weight: bold;
}

.cities-list__city__city-properties__city-property, .cities-list__city__city-header, .cities-list__city__city-header__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cities-list__city__city-header {
    margin-bottom: 0;
    padding: 0;
}

.cities-list__city__city-header__text h4 {
    display: inline-block;
    font-size: 15pt;
    color: dimgray;
}

.cities-list__city__city-header__text span {
    color: dimgray;
    font-size: 20pt;
}

.cities-list__city__city-header__text {
    width: 50%;
}

button {
    border-radius: 50%;
    border: none;
    outline: none; /* убираем границы выделения после клика */
    height: 30px;
    width: 30px;
    background: dimgray;
    color: white;
    font-weight: bold;
}

body {
    margin: 0 20%;
}

.cities-list__city {
    display: inline-block;
    margin-right: 5%;
}